body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h1{
font-size: 20px;
}
.rahi{
    color: hwb(209 0% 0% / 0.603);
}
.ash{
    width:40%;
    float: left;
    margin-left: 2%;
   padding: 3%;
   
}
.ash img{
    width: 55%;
}
.raha{
    background-image:url(images/top-banner.png) ;
    background-repeat: no-repeat;

}
section{
    height: 500px;
}
.link{
    text-decoration: none;
    background-image: linear-gradient(salmon,blue);
    padding: 7px 3px;
    border-radius: 5px;
    font-weight: 700;
    color: beige;
}
.muni{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
h2{
    font-size: 30px;
}
.mahmud{
    box-shadow: 10px 10px 40px gray;
}
